@{
    Layout ="_Layout";
}

@model PieeresTreats.Models.Flavor

<h2>Edit</h2>

<h4> Edit this Flavor: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.FlavorId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)


    @Html.Label("Select Treat")
    @Html.DropDownList("TreatId")

    <input type="submit" value="Save" />
}


<p>@Html.ActionLink("Back To List", "Index")</p>