@{
    Layout ="_Layout";
}

@model PieeresTreats.Models.Treat

@using PieeresTreats.Models

<h2> Treat Details</h2>

<h3>@Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Flavors.Count == 0)
{
    <p> There are no Flavors yet!! Add some if you are signed in!.</p>
}
else
{
    <h4>Flavors that this treat is available in!</h4>
    @foreach(var join in Model.Flavors)
    {
        <p>@Html.ActionLink($"{@join.Flavor.Name}", "Details", "Flavors", new {id = join.Flavor.FlavorId})</p>
    }
}


<h2> Links</h4>
<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to Treats", "Index")</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.TreatId})</p>