@{
    Layout ="_Layout";
}


@model PieeresTreats.Models.Flavor


<h2>Flavors</h2>
<hr />



@if(@Model.Treats.Count == 0)
{
    <p> This flavor does not belong to any treats!</p>
}
else
{
    <h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>
    @foreach(var join in Model.Treats)
    {
        @using (Html.BeginForm("DeleteTreat","Flavors"))
        {
            @Html.Hidden("joinId", @join.TreatFlavorId)
            <input type="submit" value="Delete"/>
        }
    }
    <p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
}

<p>@Html.ActionLink("Back To List", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId})</p>
