@{
    Layout ="_Layout";
}


@model PieeresTreats.Models.Flavor


<h2>Flavors</h2>
<hr />



@if(@Model.Treats.Count == 0)
{
    <p> This flavor does not belong to any treats!</p>
}
else
{
    <h3> Available Treats for @Html.DisplayFor(model => model.Name)</h3>
   
    @foreach(var join in Model.Treats)
    {
        @using (Html.BeginForm("DeleteTreat","Flavors"))
        {
           <p>@Html.ActionLink($"{join.Treat.Name}", "Details", "Treats", new { id = join.Treat.TreatId })</p>
        }
    }
    
}

<h1>Links</h1>
<p>@Html.ActionLink("Back To List", "Index")</p>
<p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId})</p>
<p>@Html.ActionLink("Add a Treat", "AddTreat", new { id = Model.FlavorId})</p>
